html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.loading-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  transition: all ease .5s;
}

.loading-layer h6 {
  position: absolute;
  top: 50%;
  color: #fff;
  margin-top: -80px;
  font-size: 30px;
  text-align: center;
  left: 0;
  right: 0;
  margin: -80px auto auto 0;
}

.loading-layer .progress-box {
  width: 300px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
}

.progress-bar {
  position: absolute;
  left: -300px;
  width: 300px;
  height: 20px;
  background-color: yellow;
  background-image: linear-gradient(45deg, #5c9e60 25%, transparent 25%, transparent 50%, #5c9e60 50%, #5c9e60 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  transition: all linear 9s;
  animation: progress 100s linear infinite;
  transition: all ease .5s;
}

@keyframes progress {
  from {
    background-position: 0, 0;
  }
  to {
    background-position: -5000px, 0;
  }
}

#game_start {
  font-size: 30px;
  width: 110px;
  height: 30px;
  color: #fff;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#game_restart {
  position:absolute;
  display: none;
  width: 130px;
  height:30px;
  font-size:30px;
  color:#333;
}
